body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

ul, ol {
	list-style-type: none;
}
a, a:visited, a:hover {
  text-decoration: none;
}

/*main-menu*/
.logo-link {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;

}
.brand-name-up {
  color: #2e2f42;
}

.menu-studio {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-studio:hover,
.menu-studio:focus {
  color: #404BBF;
}
.menu-studio:active {
  text-decoration: underline;
  text-decoration-color: #404BBF;
  color: #404BBF;
}

/* address-section*/
.address-section {
  color: #434455;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: #404BBF;
}


.main-page {
  background-color: #2E2F42;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

/*button*/
.btn-primary {
  cursor: pointer;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #404BBF;
}


/* content-section section 2 */
.title-benefits {
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 24px;
}
.benefits-text {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/*our-team */
.our-team {
  background-color: #FFFFFF;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-team {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-profession {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  letter-spacing: 0.02em;
}

.portfolio {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/*.page-title-hidden
.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;низ
    font-weight: 700;
    font-style: normal;} */

.footer {
  background-color:  #2E2F42;
}
.footer-copyright {
  color: #F4F4FD;
}
.logo-bottom {
  color: #F4F4FD;
}